/* =========================================================
   Available Rooms
========================================================= */
.available-rooms {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #ececec;

    .rooms-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #222;
    }

    .rooms-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    /* 개별 객실 행 */
    .room-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    /* 왼쪽 */
    .room-info {
        display: flex;
        align-items: center;
        gap: 14px;

        .room-img {
            width: 70px;
            height: 70px;
            border-radius: 6px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .room-text {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .room-name {
                font-size: 14px;
                font-weight: 600;
                color: #222;
            }

            .room-type {
                font-size: 13px;
                color: #555;
            }
        }
    }

    /* 오른쪽 */
    .room-actions {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 20px;
        width: 220px;

        .room-price {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #111;
            font-weight: 600;
            width: 180px;

            .night {
                font-size: 12px;
                margin-left: 4px;
                font-weight: 400;
                color: #666;
            }
        }

        .book-btn {
            padding: 8px 18px;
            background: #7fd3be;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background: #6ac6b0;
            }
        }
    }

}