@use "../../common/variables" as *;

.add-payment-page {
    min-height: 100vh;
    background: $color-bg;
    display: flex;

    .auth-layout-container {
        width: 100%;
        margin: 0 auto;
    }

    .auth-layout-content {
        display: flex;
        min-height: 100vh;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;

            .auth-layout-image-section {
                display: none;
            }
        }
    }

    .auth-layout-form-section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 2rem;
    }

    .auth-layout-image-section {
        flex: 1;
        background: $gradient-gray-medium;
    }
}