.travel-gallery {
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 16px;
    width: 100%;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}
