.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 800px;
  background: white;
  padding:200px 0 400px;
}

/* LEFT AREA */
.auth-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.back-btn {
  background: none;
  border: none;
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: #000;
  }
}

.title {
  font-size: 28px;
  margin-bottom: 6px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  label {
    font-size: 14px;
    font-weight: 500;
  }

  input {
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    font-size: 14px;

    &:focus {
      border-color: #8ac0a8;
      outline: none;
    }
  }
}

.submit-btn {
  margin-top: 5px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #8ec9ae;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: #7db99c;
  }
}

/* SOCIAL LOGIN */
.social-divider {
  text-align: center;
  margin: 28px 0;
  font-size: 14px;
  color: #777;

  span {
    padding: 0 10px;
  }
}

.social-login-box {
  display: flex;
  justify-content: center;
  gap: 12px;

  .social-btn {
    width: 48px;
    height: 48px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background: white;
    cursor: pointer;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

/* RIGHT SLIDER */
.slider-container {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicator-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  gap: 8px;
  transform: translateX(-50%);
}

.indicator {
  width: 8px;
  height: 8px;
  background: #d0d0d0;
  border-radius: 50%;

  &.active {
    background: #84b49f;
  }
}